<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>素材名</td><td><%= data.name %></td></tr>
    <tr><td>クエスト名</td><td><%= data.quest %></td></tr>
    <tr><td>クエストの場所</td><td><%= data.place %></td></tr>
    <tr><td>敵構成</td><td><%= data.composition %></td></tr>
    <tr><td>必要個数</td><td><%= data.number %></td></tr>
  </table>
  <a href="/fgo_edit/<%= data.id %>">編集</a><br>
  <a href="/fgo_delete/<%= data.id %>">削除</a><br>
  <a href="/fgo">一覧に戻る</a>
</body>
</html>